@model List<Models.EventViewModel>
<h3>Ultimos Eventos</h3>
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <div class="carousel-inner" role="listbox" style="width:800px">
        @{int i = 0;}
        @foreach (var eventToShow in Model)
        {
            <div class="item @(i==0?"active":"")">
                <img style="width: 800px" src="@eventToShow.ImageUrl" alt="ASP.NET" class="carousel-item" />
                <div class="carousel-caption" role="option">
                    <p>
                        @eventToShow.Name
                        <a asp-page="./Events/Detail" class="btn btn-default" asp-route-id="@eventToShow.Id">Mas Información</a>
                    </p>
                </div>
            </div>
            i++;
        }

    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    </div>