@model ViewComponents.BreadcrumbViewModel

<sectionBreadcrumb>
    <div class="lgx-banner lgx-banner-inner" style="background-image: url('/assets/img/banner-inner2.jpg')">
        <div class="lgx-page-inner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="lgx-heading-area">
                            <div class="lgx-heading lgx-heading-white">
                                <h2 class="heading">@Model.Title</h2>
                            </div>
                            <ul class="breadcrumb">
                                <li><a asp-page="/Index"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                                <li class="active">@Model.ActualPage</li>
                            </ul>
                        </div>
                    </div>
                </div><!--//.ROW-->
            </div><!-- //.CONTAINER -->
        </div><!-- //.INNER -->
    </div>
</sectionBreadcrumb> <!--//.Banner Inner-->