@model List<Models.SponsorViewModel>
<div class="sponsors-area sponsors-area-colorfull-border">
    @foreach (var sponsor in Model)
    {
        <div class="single">
            <a asp-page="./Sponsors/Detail" asp-route-id="@sponsor.Name">
                <img style="width:214px; height :71px;" src="@sponsor.ImageUrl" alt="sponsor" />
            </a>
        </div>
    }
</div>
