@page
@using ViewComponents
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}
@await Component.InvokeAsync("Breadcrumb", new BreadcrumbViewModel("Error", "Error"))
@{
    ViewData["Title"] = "Error";
}

<div class="lgx-page-wrapper">
    <!--News-->
    <section>
        <div class="container">
            <div class="row">

                <div class="col-sm-12 col-md-6 col-md-offset-3">
                    <div style="text-align: center" class="lgx-subscriber-inner">

                            <div class="form-group form-group-email">
                               
                                    <p class="help-block" id="lgxname-error">Ocurrio un Error</p>
                            </div>

                    </div>

                </div> <!--//.COL-->
            </div>
        </div><!-- //.CONTAINER -->
    </section>
    <!--News END-->
</div>
